* {
	font-family: 'Trebuchet MS';
	text-align: center;
}

body {
	background-color: aliceblue;
}

p {
	background-color: #B0F0B0;
	width: 40%;
	padding: 5%;
	margin: 10% auto;
	border: 1%;
	border-radius: 1vw;
	font-size: 1.5vw;
}


.app {
	
}

#board {
	margin: auto;
	width: 40%;
	margin-top: 10%;
}

.rank {
	float: left;
	width: 100%;
	clear: left;
}

.square {
	width: 12.5%;
	padding-bottom: 12.5%;
	display: inline-block;
	margin: 0;
	float: left;
	clear: none;
}

.square.light {
	background-color: #D0D0D0;
}

.square.light[selected] {
	background-color: #E4E4D4;
}

.square.dark {
	background-color: #909080;
}

.square.dark[selected] {
	background-color: #B0B080;
}

[piecetype] {
	background-size: 100%;
}

[piececolor='white'][piecetype='pawn'] {
	background-image: url("../resources/piece/wp.png");
}

[piececolor='white'][piecetype='knight'] {
	background-image: url("../resources/piece/wn.png");
}

[piececolor='white'][piecetype='bishop'] {
	background-image: url("../resources/piece/wb.png");
}

[piececolor='white'][piecetype='rook'] {
	background-image: url("../resources/piece/wr.png");
}

[piececolor='white'][piecetype='queen'] {
	background-image: url("../resources/piece/wq.png");
}

[piececolor='white'][piecetype='king'] {
	background-image: url("../resources/piece/wk.png");
}

[piececolor='black'][piecetype='pawn'] {
	background-image: url("../resources/piece/bp.png");
}

[piececolor='black'][piecetype='knight'] {
	background-image: url("../resources/piece/bn.png");
}

[piececolor='black'][piecetype='bishop'] {
	background-image: url("../resources/piece/bb.png");
}

[piececolor='black'][piecetype='rook'] {
	background-image: url("../resources/piece/br.png");
}

[piececolor='black'][piecetype='queen'] {
	background-image: url("../resources/piece/bq.png");
}

[piececolor='black'][piecetype='king'] {
	background-image: url("../resources/piece/bk.png");
}

#sidebar-right {
	position: absolute;
	width: 30%;
	right: 0;
}
