* {
	font-family: 'Trebuchet MS';
	text-align: center;
}

body {
	background-color: aliceblue;
}


.app {
	
}

.board {
	margin: auto;
	width: 40%;
	margin-top: 10%;
}

.row {
	float: left;
	width: 100%;
	clear: left;
}

.square {
	width: 12.5%;
	padding-bottom: 12.5%;
	display: inline-block;
	margin: 0;
	float: left;
	clear: none;
}

.square.light {
	background-color: #D0D0D0;
}

.square.dark {
	background-color: #909080;
}

[piece-type] {
	background-size: 100%;
}

[piece-color='white'][piece-type='pawn'] {
	background-image: url("../resources/piece/wp.png");
}

[piece-color='white'][piece-type='knight'] {
	background-image: url("../resources/piece/wn.png");
}

[piece-color='white'][piece-type='bishop'] {
	background-image: url("../resources/piece/wb.png");
}

[piece-color='white'][piece-type='rook'] {
	background-image: url("../resources/piece/wr.png");
}

[piece-color='white'][piece-type='queen'] {
	background-image: url("../resources/piece/wq.png");
}

[piece-color='white'][piece-type='king'] {
	background-image: url("../resources/piece/wk.png");
}

#sidebar-right {
	position: absolute;
	width: 30%;
	right: 0;
}
